---
// menu.astro
---

 <div class="Menubar2">
    <nav>
    
      <div class="Menuimages">

        <img class="hobbiesbutton" src="images/7.png">
         <img class="Cafesbutton" src="images/5.png">
         <img class="Yearlyupdatebutton" src="images/6.png">

     </div>

			    <ul class="menu2">

                    <li><a href="/hobbies" class="hobbies">Hobbies</a></li>
                    <li><a href="/cafes" class="Cafes">Cafes</a></li>
                    <li><a href="/yearlyupdate" class="yearlyupdate">Yearly Update</a></li>
		    	</ul>
	</nav>

 </div>

<style>

    .Menubar2{
        /* background-image: url('/images/8.png') ;
        height:300; */
    
         background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-left: 0px                    /* full width of parent */
     
    }

.hobbiesbutton{

    height: 270px;
    margin-top:30px;
    margin-left:-132px;
   

   
}

.Cafesbutton{
    height: 200px;
    margin-top:65px;
    margin-left:30px;
  
}

.Yearlyupdatebutton{
    height: 200px;
    margin-top:60px;
    margin-left:80px;
   
}
    .menu2 {
  display: flex;
  text-align: center;
  list-style-type: none;
    gap: 160px;
     margin: 50px 90px;
     padding-right:40px; 
     padding-bottom:30px;
     
}

.hobbies{
    background-color:#ffffff;
    display: inline-block;
    padding: 10px 40px;
    border: 3px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-style: italic;
    color: black;
    width: 100px;
}
.hobbies:hover{
    transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
 background-color: #FFF98A;
}

.Cafes{
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 40px;
    border: 3px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-style: italic;
    color: black;
    transition: transform 0.3s ease;
    width: 100px;
}
.Cafes:hover{
    transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
background-color: #b8ff97;
}

.yearlyupdate {
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 40px;
    border: 3px solid black;
    border-radius: 8px;
    text-decoration: none;
    font-style: italic;
    color: black;
    
}
.yearlyupdate:hover{
    transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
background-color: #b697ff;
}

.Menuimages{
display: flex;
  text-align: center;
  margin-bottom: -150px;
  gap:150px;
  padding-left:260px;
 
}
</style>
