---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
import Menu2 from '../components/Menu/menu2.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
<div class="border">
<Menu/>

<div class="section-title">
    <h1># My own writings</h1>
</div>

<div class=" containerD">

          <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> Rethinking the Bottle: </b> <br/> Where Design Meets Function and Value.
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

              <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> Creative problem-solving isn’t just about finding answers: </b> <br/> it’s about questioning the question.
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

              <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> Finally calling myself a design student: </b> <br/> Journey a long way!
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

              <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> How Sociology as a Subject Helps Me Become a Better Designer: </b> <br/> Resaerch and Design the unstopable link.
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

              <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> From Reading Ethnography to Doing Ethnography: </b> Came a long way!
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

              <div class="fancy-card">
           <div class="side-tab-green"></div>
             <p class="card-text"><b> From Reading Ethnography to Doing Ethnography: </b> Came a long way!
             <a href=""><span class="link-icon">🔗</span></a>
              </p> </div>

<div/>

              	
         </div>
         <div class="containerE">    <div class= "imagebox1"> 
						<img class="boximage" src="images/3.png">
                        <img class="box1" src="images/box1.png"></div> 
                        

                        <div class="quote">
  <div class="text2"><p>"
You were born with potential.
You were born with goodness and trust.
You were born with ideals and dreams.
You were born with greatness.
Your were born with wings.
You are not meant for crawling, so don't.
You have wings.
Learn to use them, and fly."
</p> 
<p class="writer"> ~Rumi </p> </div>

 </div>   
         </div>	 
<Menu2/>
<br/>
<Footer/>
</div>
    </body>
</html>

<!-- ___________________________________________________ -->

<style>
.writer{
  text-align: right;
}
  .containerE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    margin-left: 150px;

    
  }
  .text2{
    padding-top: 150px;
    min-width: 400px;
    font-style: italic;
    font-size: 18px;

  }

  .quote{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
p{
  text-align: left;
}
  .containerD{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
  }
  
.box1{
	height:300pt;
	width: 250pt;
	display: flex;
	max-width: 400px;
  height: auto;
  border-radius: 20px;
  padding-top:0px;
  z-index: 1;
}
.boximage{
	height: 500px;
	width:300px;
	margin-bottom:-255px;
}
 

  
/* .fancy-card::before{
  content: '';
  position: absolute;
  left: 100px;
  width: 50px;
  height: 130px;
  background: #ffbdbd;
  border-right:4px solid rgb(255, 235, 235) ;
  border-radius: 8px;
} */

/* .fancy-card:hover{
transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
} */
.imagebox1{
 
  margin-top: -80px;
  padding-bottom: 30px;
}
.card-text {
  margin: 0;
  padding-left: 20px;
  flex: 1;
  font-size:24px;
  line-height:25px;
}
.section-title{
  text-decoration: underline;
  font-style: italic;
}
.side-tab-green {

  height: 125px;
  width: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b697ff;
  border-right:4px solid #baaed5 ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: -27px;
}

.side-tab-green:hover {
  transform: scale(1.07);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
}
  
.fancy-card:Hover {
  transform: scale(1.04);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
}

.fancy-card {
  
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px 24px;
  max-width: 500px;
  height: 80px;
  font-style: italic;
font-size: 18px;
  display: flex;
  align-items: center;
  background-color: white;
  gap: 20px;
  text-align: justify;
  margin-bottom: 30px;


}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 

.link-icon:Hover{
  transform: scale(1.07);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
}

.link-icon:{
  text-decoration: none;
}

</style>