---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
import Menu2 from '../components/Menu/menu2.astro';
import TodoQuote from '../components/TodoQuote.astro';
import Backbutton from '../components/Backbutton.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
        <Backbutton/>
     <div class="border">
<Menu/>

<div class="Designtext">
    <h1># My Design Work</h1>
</div>

<div class="card-container">
  
  <div class="card">
    <img src="/images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

   <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

  <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>
  <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

   <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

   <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

   <div class="card">
    <img src="images/colorblindness.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

   <div class="card">
    <img src="images/timo.png" alt="Card Image">
    <h3><em>Game Design - Interaction Design</em></h3>
    <p>
      TIMO- Time is Money
    </p>
    <a href="#" class="btn">View</a>
  </div>

</div>
<Footer/>

     </div>

    </body>
</html>

<style>

.Designtext{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;
}

.card-container{
 display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 20px;
  max-width: 900px;
  margin: auto;

}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
	radius:10px;

}

.card h3 {
  font-size: 26px;
  margin: -10px 0px;
}

.card p {
  font-size: 18px;
  color: #444;
  margin-top: -10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f5b6b6;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
  border: #000000 solid 2px;
  width: 90px;
  text-align: center;
}

.btn:hover {
  background-color: #ff9e9e;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 

.card{
	margin: 10px;
	padding: 20px;
border-radius:10px;
background-color:white;
  border: black 3px solid;
}
</style>