---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
import Menu2 from '../components/Menu/menu2.astro';
import TodoQuote from '../components/TodoQuote.astro';
import Backbutton from '../components/Backbutton.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
        <Backbutton/>
     <div class="border">
<Menu/>

<div class="Designtext">
    <h1># My Design Work</h1>
</div>

<div class="card-container">
  
  <div class="card">
    <img src="/images/colorblindness.png" alt="Card Image">
    <h3><em>Color Blindness</em></h3>
    <p>
      Interaction and Information Design 2024
    </p>
    <a href="https://www.behance.net/gallery/225930701/Color-Blindness-Awareness-Information-Design" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/timo.png" alt="Card Image">
    <h3><em>TIMO- Time is money</em></h3>
    <p>
      Game Design-Interaction Design 2025
    </p>
    <a href="https://www.behance.net/gallery/226239729/Board-game-design-TIMO-Time-Is-Money-Challenge" class="btn">View</a>
  </div>

  <div class="card">
    <img src="/images/Basictech.png" alt="Card Image">
    <h3><em>Basic Tech Website Design</em></h3>
    <p>
      (UI/UX Design)2025
    </p>
    <a href="https://www.behance.net/gallery/225931049/Basic-Tech-Website-Design-%28UIUX-Design%29" class="btn">View</a>
  </div>

  <div class="card">
    <img src="/images/medicos.png" alt="Card Image">
    <h3><em>Medicos Hospital Website</em></h3>
    <p>
     (UI/UX Design) 2025
    </p>
    <a href="https://www.behance.net/gallery/225931761/Medicos-Hospital-Website-%28UIUX-Design%29" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/crafts.png" alt="Card Image">
    <h3><em>Crafts and Markets-ChotaUdepur</em></h3>
    <p>
      Website Design 2025
    </p>
    <a href="https://www.figma.com/proto/rcL42wCW7ihmcohcDSSEwY/crafts-of-udepur?node-id=1-2&starting-point-node-id=1%3A2&t=p3ig3Dj2Zt66A8km-1" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/social media.png" alt="Card Image">
    <h3><em>Social Media Design</em></h3>
    <p>
      Static and Carousel Posts 2022-24
    </p>
    <a href="https://www.behance.net/gallery/225878065/Social-Media-Posts-Portfolio" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/logo.png" alt="Card Image">
    <h3><em>Logo Design</em></h3>
    <p>
      Logo Design Projects 2022-24
    </p>
    <a href="https://www.behance.net/gallery/225881051/Logo-Design-Portfolio" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Photography Projects</em></h3>
    <p>
      Street-Studio Photography 2024-25
    </p>
    <a href="https://www.behance.net/gallery/225933005/Photography-Projects" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Soch Magazine Design</em></h3>
    <p>
      Department Magazine 2023
    </p>
    <a href="https://heyzine.com/flip-book/3999280a50.html" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Typeface of Ahemdabad</em></h3>
    <p>
      History of design Project 2024
    </p>
    <a href="https://heyzine.com/flip-book/df50547115.html" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Artopia</em></h3>
    <p>
      Art Society Magazine 2022
    </p>
    <a href="https://online.fliphtml5.com/zuswy/yycz/#p=1" class="btn">View</a>
  </div>


   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Conductor ke sath safar</em></h3>
    <p>
     Documentary
    </p>
    <a href="https://youtu.be/gPX-3bRu8DY?si=U3JTtKPNKBFRbRf7" class="btn">View</a>
  </div>

   <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Manju Ben the dog resucuer</em></h3>
    <p>
      Documentary
    </p>
    <a href="https://youtu.be/7sCbyXd8niw?si=ozrbuqHYaQ1tC3v6" class="btn">View</a>
  </div>

  <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Spend Wisely</em></h3>
    <p>
      Advertisment Film Making
    </p>
    <a href="https://youtu.be/0ZQFQmo2R08?si=EsorqKAvlFj0g16i" class="btn">View</a>
  </div>

  <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Asturian Mythology of Nuberu</em></h3>
    <p>
      Animation
    </p>
    <a href="https://youtu.be/ku7yV5diQRE?si=dK-bWGl9SOfxB8Ac" class="btn">View</a>
  </div>

  <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>Mitti pe beth jata hu aksar</em></h3>
    <p>
      Animation
    </p>
    <a href="https://youtu.be/7sCbyXd8niw?si=ozrbuqHYaQ1tC3v6" class="btn">View</a>
  </div>

  
  <div class="card">
    <img src="/images/photography.png" alt="Card Image">
    <h3><em>T-Shirt Design</em></h3>
    <p>
      Self Project
    </p>
    <a href="." class="btn">View</a>
  </div>



</div>

<br>
<Footer/>

     </div>

    </body>
</html>

<style>

.Designtext{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;
}

.card-container{
 display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 20px;
  max-width: 900px;
  margin: auto;

}

.card img {
  width: 100%;
  border-radius: 25px;
  height: 350px;
  border: #000 solid 3px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
	radius:10px;

}

.card h3 {
  font-size: 26px;
  margin: -10px 0px;
}

.card p {
  font-size: 18px;
  color: #444;
  margin-top: -10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f5b6b6;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
  border: #000000 solid 2px;
  width: 90px;
  text-align: center;
}

.btn:hover {
  background-color: #ff9e9e;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px 50px;
} 

.card{
	margin: 10px;
	padding: 20px;
border-radius:30px;
background-color:white;
  border: black 3px solid;
}


</style>