---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
     <div class="border">
<Menu/>

<div class="Hobbies">
    <h1># My Hobbies</h1>
</div> 

<p class="hobbytext"> I love journaling, painting, or illustrating. I also love café-hopping trying out new places, soaking in the vibe, and people-watching. It keeps me inspired and fuels my creativity.
	
</p>


<div class="hobbieswrap">

<img src="Artwork/A1.png" class="artwork";>
<img src="Artwork/A2.png" class="artwork";>
<img src="Artwork/A3.png" class="artwork";>
<img src="Artwork/A4.png" class="artwork";>
<img src="Artwork/A5.png" class="artwork";>
<img src="Artwork/A6.png" class="artwork";>
<img src="Artwork/A7.png" class="artwork";>
<img src="Artwork/A8.png" class="artwork";>
<img src="Artwork/A9.png" class="artwork";>
<img src="Artwork/A10.png" class="artwork";>
<img src="Artwork/A11.png" class="artwork";>
<img src="Artwork/A12.png" class="artwork";>

     </div>

	 <Footer/>

    </body>
</html>

<style>

	.artwork{
		 width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}
/* 
	.artwork1{
		max-width: 50px;
	}

	.artwork2{
		max-width: 50px;
	}
	
	.artwork3{
		max-width: 50px;
	}
	
	.artwork4{
		max-width: 50px;
	}
	
	.artwork5{
		max-width: 50px;
	}
	
	.artwork6{
		max-width: 50px;
	}
	
	.artwork7{
		max-width: 50px;
	}
	
	.artwork8{
		max-width: 50px;
	}
	
	.artwork9{
		max-width: 50px;
	}
	
	.artwork10{
		max-width: 50px;
	}
	
	.artwork11{
		max-width: 50px;
	}
	
	.artwork12{
		max-width: 50px;
	} */
	
	
.hobbieswrap{
column-count: 3;
       column-gap: 15px;
       padding:28px;
	
		
}

	.hobbytext{
		max-width: 800px;
		font-style: italic;
	}
.Hobbies{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;

}
.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 
</style>