---
// Import the layout and components
import Layout1 from "../layouts/Layout1.astro";
import Card from "../components/Card.astro";
import ImageCard from "../components/Card.astro";
const name = "Tanya";
import root from "../components/global.css";
---

<Layout1 title="TanyaMehraWebsite">

	<div slot="before-menu">

	<h1>Tanya Mehra the great</h1>
	<p>A simple website built with Astro nhi hainnn</p>

	<!-- Example of using a component with props -->

	<h2>Features</h2>


	<!-- Example of using another component with props -->
	<Card title="Simple Design" content="Clean and minimal design that's easy to understand." />
	<Card title="Easy to Edit" content="Change text, colors, and layout with simple code." />
	<Card title="Learn by Doing" content="Every file has helpful comments to guide you." />


	<div>
		hi
	</div>
</Layout>

