---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu2 from '../components/Menu/menu2.astro';
import Menu from '../components/Menu/menu.astro';
import Readallbutton from '../components/readallbutton.astro';
import Footer from '../components/footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
	
    <div class="mainpage">
		<div class="Headingone" > <h2>Create better world for ourself</h2>

	        <div class="continer1">

		     <img class="img1", src="images/1.png"> 
		     <h1> I <span class="underline">Design </span>
		     <span class="underline"> ,Write </span> and <span class="underline">  Research </span> and constantly evolving with time </h1>
		     <h4> My expressions tell the story long before my words catch up. </h4>
             </div>
			<video class="video1" src="videos/video1.mp4" autoplay loop muted playsinline> </video>

	    </div>

   


           <div class="border">

               <Menu/>

               <div class=" containerB">
                     
				    <div class= "imagebox1"> 
						<img class="boximage" src="images/3.png">
                        <img class="box1" src="images/box1.png">
					</div>
				
                         <div class=" container2">

	                        <div class="heading-with-image">

                              <img class="img2" src=" images/2.png"> 
							  
                                    <h3 class="subheading1"> Why you should know about me </h3>

                            </div>

                                    <h4 class="subtext"> Hey! I am Tanya Mehra, a Communication Designer and Sociologist passionate about capturing and creating new worlds through the best-suited medium for every story. With a love for painting, sketching, reading, music, writing, photography, and videography, I thrive on blending creativity and <span style="background-color: #FFF98A;"> सtorytelling </span> in everything I do. </h4>
                                    <h4 class="subtext">I approach design with <span style="background-color: #FFF98A;"> एmpathy</span> and <span style="background-color: #FFF98A;"> रिesearch, </span> always considering the social context and the bigger picture. I seek to understand the real-time challenges people face and build projects that bring them closer whether through visual narratives, interactive experiences, or cultural journeys. </h4>
                                    <h4 class="subtext2"> ...know more about me </h4>
		        
                         </div>

					
                 </div>

                
                
<div class="containerC">

  <div class= container3> 
				    <div class="fancy-card">
           <div class="side-tab-pink"></div>
           <p class="card-text">
             Rethinking the Bottle: Where Design Meets Function and Value.
             <a href="#"><span class="link-icon">🔗</span></a>
              </p> </div>


</br>
 <div class="fancy-card">
           <div class="side-tab-green"></div>
           <p class="card-text">
             Creative problem-solving isn’t just about finding answers.
             <a href="#"><span class="link-icon">🔗</span></a>
              </p> </div>
</br>
 <div class="fancy-card">
           <div class="side-tab-purple"></div>
           <p class="card-text">
             From Reading Ethnography to Doing Ethnography!
             <a href="#"><span class="link-icon">🔗</span></a>
              </p> </div>
<Readallbutton/>
  </div>

      <div class="side-text">By the way i love writing a lot </div>
					

      <div> <video class="video2" src="videos/video2.mp4" autoplay loop muted playsinline> </div>

	 	
</div> 	

<Menu2/>
<!-- <Lifespan/> -->
            </div>

            <Footer/>

            
	</body>
</html>


<style> 

body{

margin: 20px;
  /* background-image: url('/images/bgimage1.png');
  background-repeat: repeat; */
}


.link-icon:hover{
transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
}

.containerC{
  display: grid;
  grid-template-columns: 3fr .3fr 3fr;
  gap: 20px;

}

.side-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-style: italic;
  color: black;
  padding-top: 550px;
  font-size: 26px;}

.redbutton{
	align-items:left;
}

.container3{
	margin-top:60px;
	border-right: 10px solid #bababaff;
height: 500px;
	
}

.side-tab-green {
  position: absolute;
  left: -7px;
  height: 98px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b8ff97;
  border-right:4px solid rgb(190, 214, 168) ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
  .side-tab-green:Hover {
   transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25); 
}
.side-tab-pink {
  position: absolute;
  left: -7px;
  height: 98px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ffbdbd;
  border-right:4px solid rgb(255, 235, 235) ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

.side-tab-pink:Hover {
 transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);  
}

.side-tab-purple {
  position: absolute;
  left: -7px;
  height: 98px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b697ff;
  border-right:4px solid rgb(214, 192, 231) ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

.side-tab-purple:Hover{
  transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25); 
}

.card-text {
  margin: 0;
  padding-left: 20px;
  flex: 1;
  font-size:20px;
}

.link-icon {
  text-decoration: none;
  margin-left: 8px;
  text-decoration:none;
}

.fancy-card {
  position: relative;
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px 24px;
  max-width: 320px;
  height: 50px;
  font-style: italic;
font-size: 18px;
  display: flex;
  align-items: center;
  background-color: white;
  gap: 20px;
  text-align: justify;
  line-height: 22px;


}

h1 { font-size: var(--text-huge);
font-style: italic; 
line-height: 90px;
font-weight: 400 ;
margin: 0;
 margin-top: -70px;
}

h2 { font-size: var(--text-large);
margin: 0px 0px;
margin-top: -10px;
padding-top:24px;}

p { font-size: var(--text-normal); }

  @import url("https://use.typekit.net/vcf3srs.css");

.Headingone{
display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;     
  text-align: center;
  margin: 20px 150px;
  
  }

  .underline {
  text-decoration: underline;
  
}

.underline:hover {
  background-color: #FFF98A;
  
}

.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 


.subheading1{
	text-align: right;
	text-decoration: underline #b3abab;
	margin: 0px 0px;
	 white-space: nowrap;
}

h4 {
	text-align: left;
	margin: 0px 0px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  font-weight: lighter;
}

.subtext{
	font-size: smaller;
	text-align: right;
	flex: 1;
  line-height: 1.8;
  font-weight: lighter;
padding-left:30px;
margin-right: 0px;
margin-bottom:0px;
margin-left:20px;
}

.img1{
width: 5cm;
height: 7cm;
rotate: 90deg;
margin-left: 100px;
display: flex;
	align-items: flex-start
}
.container1{
margin-bottom: 0px;
margin: 0 auto;
grid-column: 4;
grid-row: 4;

}
.video1{
	height: 3cm;
	width: 4cm;
	padding-top: 0;
	margin: 0cm 0cm;
}
.video2{
  max-width: 100%;
  padding-top: 250px;
}

.box1{
	height:300pt;
	width: 250pt;
	display: flex;
	max-width: 400px;
  height: auto;
  border-radius: 20px;
  padding-top:0px;
  z-index: 1;
}

.para1{
display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap; 
}

.container2{
width: 63%;
padding-left: 20px;
margin-right:0px
}

.containerB{
	 display: flex;
  align-items: flex-start;

  
}

.img2{
	width: 200px;
	margin: 0px;
}

.heading-with-image {
  display: flex;
  align-items: center;
  gap: 20px; 
  height: 50px;
  padding-left: 200px;
}

.subtext2{
	text-align:right;
	margin:0px 0px;
	font-size: 26px;
  font-weight: bold;
  padding: 0%;
}
.subtext2:hover{
color: #b697ff;
}

.boximage{
	height: 500px;
	width:300px;
	margin-bottom:-255px;
}


.imagebox{
	position: relative;
  width: fit-content;
  margin: auto;
}

</style>

