---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/menu.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
	
		<div class="Headingone" > <h2>Create better world for ourself</h2>

	        <div class="continer1">

		     <img class="img1", src="images/1.png"> 
		     <h1> I <span class="underline">Design </span>
		     <span class="underline"> ,Write </span> and <span class="underline">  Research </span> and constantly evolving with time </h1>
		     <h4> My expressions tell the story long before my words catch up. </h4>
             </div>
			<video class="video1" src="videos/video1.mp4" autoplay loop muted playsinline> </video>
	    </div>

   


           <div class="border">

               <Menu/>

               <div class=" containerB">

                     <img class="box1" src="images/box1.png">

                         <div class=" container2">

	                        <div class="heading-with-image">

                              <img class="img2" src=" images/2.png"> 

			 

                                    <h3 class="subheading1"> Why you should know about me </h3>

                            </div>

                                    <h4 class="subtext"> Hey! I am Tanya Mehra, a Communication Designer and Sociologist passionate about capturing and creating new worlds through the best-suited medium for every story. With a love for painting, sketching, reading, music, writing, photography, and videography, I thrive on blending creativity and <span style="background-color: #FFF98A;"> सtorytelling </span> in everything I do. </h4>
                                    <h4 class="subtext">I approach design with <span style="background-color: #FFF98A;"> एmpathy</span> and <span style="background-color: #FFF98A;"> रिesearch, </span> always considering the social context and the bigger picture. I seek to understand the real-time challenges people face and build projects that bring them closer whether through visual narratives, interactive experiences, or cultural journeys. </h4>
                                    <h4 class="subtext2"> ...know more about me </h4>
		        
                         </div>
                 </div>







            </div>

	</body>
</html>


<style> 

h1 { font-size: var(--text-huge);
font-style: italic; 
line-height: 90px;
font-weight: 400 ;
margin: 0;
 margin-top: -70px;
}

h2 { font-size: var(--text-large);
margin: 0px 0px;
margin-top: -30px;}

p { font-size: var(--text-normal); }

  @import url("https://use.typekit.net/vcf3srs.css");

.Headingone{
	justify-content: center;      /* Center vertically */
  align-items: center;          /* Center horizontally */
  text-align: center;
  }

  .underline {
  text-decoration: underline;
  
}

.underline:hover {
  background-color: #FFF98A;
  
}

.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;

	
	
}

.subheading1{
	text-align: right;
	text-decoration: underline #b3abab;
	margin: 0px 0px;
	 white-space: nowrap;
}

.h4 {
	text-align: left;
	margin: 0px 0px;
}

.subtext{
	font-size: smaller;
	text-align: right;
	flex: 1;
  line-height: 1.8;
  font-weight: lighter;
padding-left:30px;
margin-right: 0px;
margin-bottom:0px;
margin-left:20px;
}

.img1{
width: 5cm;
height: 7cm;
rotate: 90deg;
margin: 0px;
display: flex;
	align-items: flex-start

}
.container1{
margin-bottom: 0px;
margin: 0 auto;
grid-column: 4;
grid-row: 4;

}
.video1{
	height: 3cm;
	width: 4cm;
	padding-top: 0;
	margin: 0cm 0cm;
}

.box1{
	height:300pt;
	width: 250pt;
	display: flex;
	max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.para1{
display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap; 
}

.container2{
width: 55%;
padding-left: 20px;
margin-right:0px;

}

.containerB{
	 display: flex;
  align-items: flex-start;

  
}

.img2{
	width: 4cm;
	margin: 0px;
}

.heading-with-image {
  display: flex;
  align-items: center;
  gap: 20px; 
  height: 50px;
}

.subtext2{
	text-align:right;
	margin:0px 0px;
	text:24;
}
.subtext2:hover{
color: #b697ff;
}
</style>

