---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
import Menu2 from '../components/Menu/menu2.astro';
import TodoQuote from '../components/TodoQuote.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
     <div class="border">
<Menu/>

<div class="Resaerchpapers">
    <h1># My Research Papers</h1>
</div>

<div class=" Researchbox">

<div class="Researchbox1">
           <div class="side-tab-R1"></div>

             <p class="Rcard"><b> Crafts and Market of Chota Udepur: </b> <br/> Ethnographic feild study.
              
			</p> 
		
		<a class="link-icon" href="https://drive.google.com/file/d/1KhLUpxTBj0TEM-jV6aEfEKuulh3RCDmV/view?usp=drive_link"> Link 🔗</a>
	</div>


	
	<div class="Researchbox1">
           <div class="side-tab-R1"></div>

             <p class="Rcard"> <b>Understaning the culture:</b> <br>Temple Shri Baba Lalu Jasrai Ji
              
			</p> 
		
		<a class="link-icon" href="https://drive.google.com/file/d/11eoBMcCs7glVZtcSOB_GNed5TDhFOGwf/view?usp=drive_link"> Link 🔗</a>
	</div>

	<div class="Researchbox1">
           <div class="side-tab-R1"></div>

             <p class="Rcard"> <b>Gender-based violence in the natal family:</b> <br>  in collaboration Friedrich Ebert Stiftun
              
			</p> 
		
		<a class="link-icon" href="https://docs.google.com/document/d/1-IC7g1s5FHg0aBvWeUK2oAKJEjCr2kYk/edit?usp=sharing&ouid=100004007300520277072&rtpof=true&sd=true"> Link 🔗</a>
	</div>
</div>
<Footer/>

     </div>

    </body>
</html>

<style>
.Resaerchpapers{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;

}
.Researchbox1 {
  
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px 24px;
  max-width: 800px;
  height: 80px;
  font-style: italic;
font-size: 18px;
  display: flex;
  align-items: center;
  background-color: white;
  gap: 20px;
  text-align: justify;
  margin-bottom: 30px;
text-decoration: none;
margin-bottom: 40px;
}
.Rcard{
margin: 0;
  padding-left: 20px;
  flex: 1;
  font-size:24px;
  line-height:25px;	
  text-decoration: none;
  text-align: left;
}
	.side-tab-R1{
	 height: 125px;
  width: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b697ff;
  border-right:4px solid #baaed5 ;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: -27px;	
  text-decoration: none;
	}

.side-tab-R1:hover {
  transform: scale(1.07);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
text-decoration: none;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 

.link-icon{
	display: flex;
   justify-content: right;
   font-style: italic;
    font-size:28px;
	text-decoration: none;
	color: #000;
	font-weight:normal;

}

a.link-icon{
	text-decoration: none;
}

.link-icon:Hover{
	color: blue;
}

.Researchbox1:Hover{
	transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
}
</style>