---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
     <div class="border">
<Menu/>
<div class="Deardiary">
    <h1># Dear Diary 2025</h1>
</div>

<div class="box">
  <span class="dot green"></span>
  <s>Where Design Meets Function and Value Function and Value</s>
</div>

<div class="box">
  <span class="dot green"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot green"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>

<div class="box">
  <span class="dot grey"></span>
  Where Design Meets Function and Value Function and Value
</div>




<Footer/>

     </div>

    </body>
</html>

<style>

.box {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px 0;
  font-style: italic;
  font-size: 24px;
  max-width: 900px;
  margin-bottom: 20px;
  height:50px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.green { background-color: lightgreen; }
.grey { background-color: lightgray; }

.Deardiary{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;}

.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 
</style>