---
// This component creates the basic structure for every page
// It takes a "title" prop to set the page title
import '../styles/global.css';
import Menu from '../components/Menu/menu.astro';
import Footer from '../components/footer.astro';
import Backbutton from '../components/Backbutton.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My website description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
	</head>
	<body>
    <Backbutton/>
     <div class="border">
<Menu/>
<div class="Deardiary">
    <h1># Dear Diary 2025</h1>
</div>

<div class="box">
  <span class="dot green"></span>
  Create personal portfolio compiling all the work 
</div>

<div class="box">
  <span class="dot green"></span>
Did Ethnographic feild study at Chota Udepur, Gujrat.
</div>

<div class="box">
  <span class="dot green"></span>
  Went to Vadodra at Amruta's Place, went to Laxshmi Vilas Palace, Kamati Baug (Sayaji Baug), had famous soda, also had tasty gujrati food.

</div>

<div class="box">
  <span class="dot grey"></span>
Wrote my first ethnographic Research
</div>

<div class="box">
  <span class="dot grey"></span>
  Did a Exhibiton of my project on color Blindness project at IIT Gandhinagar.
</div>

<div class="box">
  <span class="dot grey"></span>
  Made a game Design for my Interaction Design Modeule.
</div>

<div class="box">
  <span class="dot grey"></span>
  Attended Film Festival 2025 at IIT Gandhinagar.
</div>

<div class="box">
  <span class="dot grey"></span>
  Went to Gandhi Kutir.
</div>

<div class="box">
  <span class="dot grey"></span>
  Learned Photography - studio and street both during my module.
</div>

<div class="box">
  <span class="dot grey"></span>
Learned Photoshop
</div>

<div class="box">
  <span class="dot grey"></span>
Shoot 4 films during my Film Module.
</div>

<div class="box">
  <span class="dot grey"></span>
Created my 1st Documentary in Narratology Module
</div>


<div class="box">
  <span class="dot grey"></span>
Got Internship at ----- Place i dreamt of but choose not to take it for the good.
</div>

<div class="box">
  <span class="dot grey"></span>
Did a Summer Internship at a firm in Gurugram.
</div>

<div class="box">
  <span class="dot grey"></span>
Did Self Prject on Chota Udepur - Created a Website for it.
</div>

<div class="box">
  <span class="dot grey"></span>
Had a meet up with my College friends.
</div>

<div class="box">
  <span class="dot grey"></span>
Had fun with my bestfriend during sem-break.
</div>

<div class="box">
  <span class="dot grey"></span>
Created my project Porfolio and edited my resume.
</div>



<Footer/>

     </div>

    </body>
</html>

<style>

.box {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px 0;
  font-style: italic;
  font-size: 24px;
  max-width: 1200px;
  margin-bottom: 20px;

}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.green { background-color: lightgreen; }
.grey { background-color: lightgreen; }

.Deardiary{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;}

.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px;
} 
</style>