


<div class="backbutton">
   <a href="#" class="backbutton1"> Back to home </a>
    </div>



<style>
     
  .backbutton1{
  background-color:#b8ff97 ;
  display: inline-block;
    padding: 10px 40px;
    border-radius: 28px;
    text-decoration: none;
    font-style: italic;
    color: black;
    transition: transform 0.3s ease;
    top:650px;
    left:1300px;
    position: fixed;
}

.backbutton {
      display: flex;
      align-items: flex-start;
      position: relative;
      gap: 100px;
      margin-left:60px;
    background-repeat:no-repeat;
    background-position: -90px;   text-decoration:none;

    }

     .point {
      position: relative;   text-decoration:none;
    }
.body{
    text-decoration:none;
}

</style>