
 

<div class="card-container2">
  
  <div class="maincards">
    <img src="/images/colorblindness.png" >
    <h3><em>Color Blindness</em></h3>
    <p>
      Interaction and Information Design 2024
    </p>
    <a href="https://www.behance.net/gallery/225930701/Color-Blindness-Awareness-Information-Design" class="btn">View</a>
  </div>

   <div class="maincards">
    <img src="/images/timo.png" >
    <h3><em>TIMO- Time is money</em></h3>
    <p>
      Game Design-Interaction Design 2025
    </p>
    <a href="https://www.behance.net/gallery/226239729/Board-game-design-TIMO-Time-Is-Money-Challenge" class="btn">View</a>
  </div>

  <div class="maincards">
    <img src="/images/timo.png" >
    <h3><em>TIMO- Time is money</em></h3>
    <p>
      Game Design-Interaction Design 2025
    </p>
    <a href="https://www.behance.net/gallery/226239729/Board-game-design-TIMO-Time-Is-Money-Challenge" class="btn">View</a>
  </div>

  

  </div>



<style>

.Designtext{
font-style: italic;
text-decoration: underline;
border-top: #000 solid 2px;
}

.card-container2{
 display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 per row */
  gap: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.maincards img {
  width: 100%;
  border-radius: 25px;
  height: 250px;
  border: #000 solid 3px;
}

.maincards:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
	radius:10px;

}

.maincards h3 {
  font-size: 26px;
  margin: -10px 0px;
}

.maincards p {
  font-size: 18px;
  color: #444;
  margin-top: -10px;
  
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f5b6b6;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
  border: #000000 solid 2px;
  width: 90px;
  text-align: center;
}

.btn:hover {
  background-color: #ff9e9e;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px 50px;
} 

.maincards{
	margin: 10px;
	padding: 20px;
border-radius:30px;
background-color:white;
  border: black 3px solid;
  
}


</style>