
 


<div class="BestProjects">Recent Projects</div>


<div class="card-container3">
  
  <div class="maincards2">
    <img src="/images/colorblindness.png" >
    <h3><em>Color Blindness</em></h3>
    <p>
      Interaction and Information Design 2024
    </p>
    <a href="https://www.behance.net/gallery/225930701/Color-Blindness-Awareness-Information-Design" class="btn">View</a>
  </div>

   <div class="maincards3">
    <img src="/images/timo.png" >
    <h3><em>TIMO- Time is money</em></h3>
    <p>
      Game Design-Interaction Design 2025
    </p>
    <a href="https://www.behance.net/gallery/226239729/Board-game-design-TIMO-Time-Is-Money-Challenge" class="btn">View</a>
  </div>


  

  </div>



<style>

.BestProjects{
font-style: italic;
font-size: 40px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
border-left: #ff9e9e solid 10px;
padding: min(1em, 20%);
margin-bottom: 14px;

}

.card-container3{
 display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  
  margin: auto;
  margin-bottom: 30px;


}

.maincards2 img {
  width: 100%;
  border-radius: 25px;
  height: 250px;
  border: #000 solid 3px;

}

.maincards2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
	radius:10px;

}

.maincards2 h3 {
  font-size: 26px;
  margin: -10px 0px;
}

.maincards2 p {
  font-size: 18px;
  color: #444;
  margin-top: -10px;
  
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f5b6b6;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
  border: #000000 solid 2px;
  width: 90px;
  text-align: center;
}

.btn:hover {
  background-color: #ff9e9e;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px 50px;
} 

.maincards2{
	margin: 10px;
	padding: 20px;
border-radius:30px;
background-color:white;
  border: black 3px solid;
  width: 70%;
   
}


.maincards3 img {
  width: 100%;
  border-radius: 25px;
  height: 250px;
  border: #000 solid 3px;

}

.maincards3:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
	radius:10px;

}

.maincards3 h3 {
  font-size: 26px;
  margin: -10px 0px;
}

.maincards3 p {
  font-size: 18px;
  color: #444;
  margin-top: -10px;
  
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f5b6b6;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
  border: #000000 solid 2px;
  width: 90px;
  text-align: center;
}

.btn:hover {
  background-color: #ff9e9e;
}


.border{
	border: #000;
	border: solid;
	border-radius: 20px;
	padding: 20px;
  margin: 20px 60px;
  padding: 60px 50px;
} 

.maincards3{
	margin: 10px;
	padding: 20px;
border-radius:30px;
background-color:white;
  border: black 3px solid;
  width: 70%;
   
}


</style>