

<footer class="footer">
  <div class="footer-content">
    <div class="footer-image">
      <img src="images/footer.png">
    </div>
    <div class="footer-links">
      <div><a class="Instagram" href="#">Instagram</a></div>  
      <div><a class="Youtube" href="#">Youtube</a></div>
      <div><a class="Resume" href="#">Resume</a></div>
      <div><a class="linkedin" href="#">linkedin</a></div>
      <div><a class="Blog" href="#">Blog</a></div>
      <div><a class="Artworks" href="#">Artworks</a></div>
      <div><a class="Medium"  href="#">Medium</a></div>
      <div><a class="Portfolio"  href="#">Portfolio</a></div> 
      <div><a class="Cafes"  href="#">Cafes</a></div>
    </div>
  </div>
</footer>

<style>

   .Instagram{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

    .Youtube{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }
    .Youtube:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}

    .Resume{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

.Resume:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}


    .linkedin{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

.linkedin:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}
    

    .Blog{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

    .Blog:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}

    .Artworks{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

    .Artworks:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}

  .Medium{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

    .Medium:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}

    .Portfolio{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }

    .Portfolio:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}
    .Cafes{
    text-decoration: none;
    font-style: italic;
    color:black ;
    }
    .Cafes:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}

    .footer {
  border-top: 4px solid #000;
  border-width: 3px;
  padding: 40px;
  background-color: rgba(255, 222, 226, 0.2);
  border-radius: 30px;
  text-decoration: none;
   text-decoration: none;
    font-style: italic;
    color:black
}

.footer-content {
    padding-top: 50px;
  display: flex;
  gap: 60px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-image img {
  width: 370px;
  height: 250px;
  object-fit: cover;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px 150px;
  font-size: 24px;
  color: #000000ff ;
   text-decoration: none;
    font-style: italic;
    color:black ;
    margin-top:40px;
}
.Instagram:Hover{
  transform: scale(1.03);
shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
color:gray;
}
  body{  background-image: url('/images/bgimage1.png');
  background-repeat: repeat;
  background-size:100%;}

</style>