---

const { link, caption, height } = Astro.props

---



<div class="container">
    <img height={height} src={link}>
	<p> {caption}</p>
</div>

    <style> 

    .container{
        
        margin: 40px;
        padding: 30px;
        font-style: italic;
        display: flex;
        flex-direction: column;
        background-color: aqua;
        gap: 90px;
    
    }




    </style>

    
   

