---

const { link, caption, height } = Astro.props

---



<div class="container">
    <img height={height} src={link}>
	<p> {caption}</p>
</div>

    <style> 

    .container{
        border: blueviolet;
        border: 50px;
        margin: 40px;
        rotate: 20%;
        padding: 30px;
    }
    caption{
        font-size: medium;
            font-style: italic;}



    </style>

    
   

