
  <div class="hovertext"> Hover on the circle below </div>
  <div class="timeline">
    <div class="point">
      <div class="circle1"></div>
      <div class="info-box">Hi, I'm Tanya Mehra a Designer!</div>
    </div>

    <div class="point">
      <div class="circle1"></div>
      <div class="info-box">*2003* I am Born in Delhi </div>
    </div>

    <div class="point">
      <div class="circle1"></div>
      <div class="info-box">*2021-2024* I Graduated in Sociology Honours from Delhi University in 2024 </div>
    </div>
     <div class="point">
      <div class="circle1"></div>
      <div class="info-box"> *2023* I did a Diploma in UI/UX Design from NIFT Mumbai  </div>
    </div>

    <div class="point">
      <div class="circle"></div>
      <div class="info-box">*2024-2026* Currently Persuing Masters in Communiaction Design </div>
    </div>

     
    <img class="hanginggirl" src="/images/9.png" alt="Walker">
     
  </div>

  

<style> 

.hovertext {
  background-color: #f9b0b5;
    margin: 15px 0px;
    border-radius: 25px 25px 25px 0px;
    max-width: 320px;
    font-style: italic;
    font-weight: light;
    font-size: 20px;
    text-align: left;
    box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
    height: 40px;
      padding: 10px 10px ;
    text-align: center;
  justify-content: center;
  font-size: 24px;
}






.timeline {
      display: flex;
      align-items: flex-start;
      position: relative;
      gap: 100px;
      
      /* padding: 10px;
      border: 3px solid black;
    border-radius: 100px; */
    background-image: url('/images/Bgimage2.png');
    background-repeat:no-repeat;
   
    background-position: 20px center;
    
  
    border-left: #ff9e9e solid 10px;
    height: 100px;
    padding: 20px;
    }

    .point {
      position: relative;
    }

    .circle {
      width: 50px;
      height: 50px;
      background-color: #b697ff;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
     border:solid 1px black;
     margin-top: 25px;
    }
    .circle1 {
      width: 30px;
      height: 30px;
      background-color: #FFF98A;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
    margin-top:10px;
  border:solid 1px black;
margin-top: 30px;}

  .circle1:Hover{
transform: scale(1.04);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);

  }

    .circle:Hover{
transform: scale(1.04);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);

  }


    .info-box {
      position: absolute;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff; 
      color: #333;
      padding: 8px 12px;
      border-radius: 8px;
      white-space: nowrap;
      display: none;
      font-size: 18px;
      box-shadow: 0 2px 5px grey;
      
    }

    .point:hover .info-box {
      display: block;
    }

    .walker {
      position: absolute;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
    }

    .walker img {
      height: 80px;
    }
  
    .hanginggirl{
        height:200px;
       
        margin-left:-150px;
        margin-top: 4px;
    

  
    }

    .hovertext{
      margin-top: 50px;
    }

    <style/>