<div class="containerE">    
    <div class= "imagebox1"> 
						<img class="boximage" src="/images/3.png">
                        <img class="box1" src="/images/box1.png"></div> 
                        

                        <div class="quote">
  <div class="text2"><p>"
You were born with potential.
You were born with goodness and trust.
You were born with ideals and dreams.
You were born with greatness.
Your were born with wings.
You are not meant for crawling, so don't.
You have wings.
Learn to use them, and fly."
</p> 
<p class="writer"> ~Rumi </p> </div>


<style>

 
.writer{
  text-align: right;
}
  .containerE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    margin-left: 150px;

    
  }
  .text2{
    padding-top: 150px;
    min-width: 400px;
    font-style: italic;
    font-size: 18px;

  }

  .quote{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
p{
  text-align: left;
}
  .containerD{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
  }
  
.box1{
	height:300pt;
	width: 250pt;
	display: flex;
	max-width: 400px;
  height: auto;
  border-radius: 20px;
  padding-top:0px;
  z-index: 1;
}
.boximage{
	height: 500px;
	width:300px;
	margin-bottom:-255px;
}
 

  
/* .fancy-card::before{
  content: '';
  position: absolute;
  left: 100px;
  width: 50px;
  height: 130px;
  background: #ffbdbd;
  border-right:4px solid rgb(255, 235, 235) ;
  border-radius: 8px;
} */

/* .fancy-card:hover{
transform: scale(1.03);
box-shadow: 0 8px 20px rgba(197, 189, 189, 0.25);
} */
.imagebox1{
 
  margin-top: -120px;
  padding-bottom: 60px;
}
.card-text {
  margin: 0;
  padding-left: 20px;
  flex: 1;
  font-size:24px;
  line-height:25px;
}
.section-title{
  text-decoration: underline;
  font-style: italic;
}
  

</style>